.cr-handle:hover,
.cr-handle:active {
  background: #228be6 !important;
  opacity: 1 !important;
}
.cr-handle {
  opacity: 0;
  transition: opacity 0.15s;
}
th:hover .cr-handle {
  opacity: 0.5;
}
th {
  white-space: nowrap;
}
